@{
	ViewData["Title"] = "Home Page";
}

<div class="row mt-2 mb-4 align-items-center">
	<div class="col-xl-5 col-lg-6 mb-5">
		<div class="hero-content-wrapper">
			<h1 class="outline-text-dark mb-5">
				Bringing Ease To Your <br> <span class="text-color-primary">Employee Voting</span>
			</h1>
			<div class="row pt-5">
				<div class="col">
					<span class="d-block mt-2 text-color-primary"><i class="fa fa-check-to-slot fs-2"></i></span>
					<span class="d-block mt-2 text-color-primary fs-4">You Vote</span>
				</div>
				<div class="col">
					<span class="d-block mt-2 text-color-primary"><i class="fa fa-user-pen fs-2"></i></span>
					<span class="d-block mt-2 text-color-primary fs-4">We Review</span>
				</div>
				<div class="col">
					<span class="d-block mt-2 text-color-primary"><i class="fas fa-bullhorn fs-2"></i></span>
					<span class="d-block mt-2 text-color-primary fs-4">We Announce</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-7 col-lg-6">
		<div class="text-center">
			<img src="/images/request.svg" class="img-fluid">
		</div>
	</div>
</div>
