@model EmployeeVoting.Models.Contact

@{
    ViewData["Title"] = "Add Contact";
    List<Employee> employees = (List<Employee>)ViewData["employees"];
}

<h4 class="fw-bolder h4 text-center">@ViewData["Title"]</h4>
<center>
    <hr class="underline" style="width:5em;height:3px;opacity:1">
</center>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-0"></div>
                        <div class="form-floating mb-2">
                            <select asp-for="employee_id" class="form-control">
                                <option>Select the Employee</option>
                                @foreach (var employee in employees)
                                {
                                    <option value="@employee.employee_id">@employee.employee_name</option>
                                }
                            </select>
                            <label asp-for="employee_id" class="control-label"></label>
                            <span asp-validation-for="employee_id" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-2">
                            <input asp-for="employee_contact" class="form-control" />
                            <label asp-for="employee_contact" class="control-label"></label>
                            <span asp-validation-for="employee_contact" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Add" class="form-control w-auto btn btn-primary" />
                            <button type="reset" class="form-control w-auto btn btn-default border">Cancel</button>
                            <a asp-action="Index" class="form-control w-auto btn btn-secondary"><span class="fa fa-arrow-left"></span> Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
